# Python
venv/
__pycache__/
*.py[cod]

# Terraform
.terraform/
terraform.tfstate*
*.tfvars

# Angular
frontend/node_modules/
frontend/dist/
.angular/
frontend-prompt-dashboard/node_modules
# Misc
*.log
.env
*.parquet
.env
